@import "tailwindcss";

@theme {
  --color-on-tertiary-fixed-variant: #005236;
  --color-surface-container: #201f1f;
  --color-on-secondary: #2f3038;
  --color-surface: #131313;
  --color-on-primary-fixed-variant: #004395;
  --color-on-error: #690005;
  --color-surface-bright: #3a3939;
  --color-outline: #8c909f;
  --color-on-secondary-container: #bcbbc5;
  --color-background: #131313;
  --color-surface-container-low: #1c1b1b;
  --color-primary-container: #4d8eff;
  --color-surface-container-high: #2a2a2a;
  --color-primary: #adc6ff;
  --color-on-primary-fixed: #001a42;
  --color-tertiary: #4edea3;
  --color-inverse-on-surface: #313030;
  --color-on-secondary-fixed-variant: #46464e;
  --color-inverse-primary: #005ac2;
  --color-primary-fixed: #d8e2ff;
  --color-error-container: #93000a;
  --color-on-error-container: #ffdad6;
  --color-tertiary-fixed-dim: #4edea3;
  --color-surface-variant: #353534;
  --color-on-tertiary: #003824;
  --color-outline-variant: #424754;
  --color-on-tertiary-fixed: #002113;
  --color-on-surface-variant: #c2c6d6;
  --color-on-secondary-fixed: #1a1b22;
  --color-on-primary: #002e6a;
  --color-surface-container-lowest: #0e0e0e;
  --color-secondary: #c6c5cf;
  --color-on-tertiary-container: #00311f;
  --color-primary-fixed-dim: #adc6ff;
  --color-secondary-fixed-dim: #c6c5cf;
  --color-tertiary-fixed: #6ffbbe;
  --color-surface-dim: #131313;
  --color-tertiary-container: #00a572;
  --color-error: #ffb4ab;
  --color-on-primary-container: #00285d;
  --color-surface-tint: #adc6ff;
  --color-on-surface: #e5e2e1;
  --color-inverse-surface: #e5e2e1;
  --color-surface-container-highest: #353534;
  --color-secondary-container: #4a4b53;
  --color-on-background: #e5e2e1;
  --color-secondary-fixed: #e3e1ec;

  --font-headline: "Inter", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-label: "Space Grotesk", sans-serif;
}

@layer base {
  .glass-panel {
      background: rgba(53, 53, 52, 0.5);
      backdrop-filter: blur(12px);
      border: 1px solid rgba(66, 71, 84, 0.2);
  }
  .material-symbols-outlined {
      font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
  ::-webkit-scrollbar { width: 4px; }
  ::-webkit-scrollbar-track { background: #131313; }
  ::-webkit-scrollbar-thumb { background: #424754; border-radius: 10px; }
}
